.button-style {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    max-width: 150px;
    width: 100%;
    height: 50px;
    background-color: #191717;
    color: wheat;
    font-size: medium;
    border-radius: 5px;
}