body {
    background-color: #C738BD;
    color: #F8F9D7;
}

.full-div {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
}

.right-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-div img {
    max-width: 600px;
    width: 100%;

}

.left-div {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-div h1 {
    padding: 0;
    margin-bottom: 0;
}

.left-div hr {
    width: 100%;
    background-color: #F8F9D7;
    border: none;
    height: 2px;
}

.left-div p {
    font-size: small;
    padding-bottom: 10px;
    color: #E3E1D9;

}