.cart-icon {
    max-width: 35px;
    width: 100%;
    height: 25px;
    padding: 6px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: 15px;
}

.cart-icon img {
    width: 100%;
}