.cart-icon {
    max-width: 35px;
    width: 100%;
    height: 25px;
    padding: 6px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: 15px;
}

.cart-icon img {
    width: 100%;
    filter: invert();
}

.cart-icon span {
    background-color: rgba(245, 245, 245, 0.744);
    color: #850F8D;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -5px;
    top: -5px;
}