body {
    background-color: #C738BD;
    color: #F8F9D7;
}

.first-div {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 0px;
    align-items: center;
    padding-top: 75px;
}