.full-page-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #E1AFD1;
    color: #850F8D;
    padding: 105px;
    justify-content: center;
    align-items: center;
}

.bottom-page-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.item-div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #C738BD;
    padding: 20px;
    border-radius: 5px;
    max-width: 250px;
    width: 100%;
    background-color: whitesmoke;
    color: #850F8D;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
    font-size: large;
}

.item-div1 p {
    text-align: center;
    color: rgb(194, 117, 169);
    font-size: small;
}

.item-div1 img {
    max-width: 100px;
    width: 100%;
}

.item-div1 button {
    max-width: 120px;
    width: 100%;
    background-color: #C738BD;
    color: whitesmoke;
    border: 2px solid #850F8D;
}