.first-right-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #C738BD;
    padding-left: 40px;
}

.first-right-div img {
    max-width: 550px;
    width: 100%;

}

.first-left-div {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first-left-div h1 {
    padding: 0;
    margin-bottom: 0;
    font-size: 50px;
}

.first-left-div hr {
    width: 100%;
    background-color: #F8F9D7;
    border: none;
    height: 2px;
}

.first-left-div p {
    font-size: small;
    padding-bottom: 10px;
    color: #fbb9f6;

}

@media only screen and (max-width: 1024px) {
    .first-right-div img {
        width: 50%;
    }
}

@media only screen and (max-width: 860px) {
    .first-left-div {
        width: 60%;
    }

    .first-left-div h1 {
        font-size: 40px;
    }

    .first-left-div p {
        font-size: smaller;
    }

    .first-left-div button {
        max-width: 120px;
        width: 100%;
        font-size: medium;
        height: 40px;
    }
}

@media only screen and (max-width: 750px) {
    .first-right-div {
        padding-bottom: 20px;
    }

    .first-right-div img {
        width: 40%;
    }

    .first-left-div hr {
        height: 1.5px;
    }

    .first-left-div h1 {
        font-size: 30px;
    }

    .first-left-div p {
        font-size: 10px;
    }

    .first-left-div button {
        width: 30%;
        font-size: small;
        height: 30px;
    }
}

@media only screen and (max-width: 550px) {
    .first-right-div {
        flex-direction: column;
        gap: 30px;
        padding-top: 40px;
        height: 625px;
    }

    .first-left-div {
        width: 80%;
        padding-bottom: 40px;
    }

    .first-right-div img {
        width: 50%;
    }
}