.second-div {
    display: flex;
    flex-direction: column;
    background-color: #E1AFD1;
    width: 100%;
    overflow: visible;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 105px;
    color: #850F8D;

}

.second-div p {
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.bottom-second-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.second-item-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
}

.second-item-div p {
    max-width: 250px;
    width: 100%;
    font-size: small;
    text-align: center;
}

.second-item-div img {
    max-width: 60px;
    width: 100%;
}

@media only screen and (max-width: 880px) {
    .second-item-div {
        padding: 10px;
    }
}

@media only screen and (max-width: 820px) {
    .second-item-div h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 740px) {
    .second-item-div h2 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 700px) {
    .second-item-div h2 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 640px) {
    .second-div h2 {
        font-size: 20px;
    }

    .second-div p {
        font-size: 14px;
    }

    .second-item-div h2 {
        font-size: 14px;
    }

    .second-item-div p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 620px) {
    .second-div {
        padding: 50px;
    }

    .second-div h2 {
        font-size: 18px;
    }

    .second-div p {
        font-size: 12px;
    }

    .bottom-second-div {
        flex-direction: column;
    }

    .second-item-div p {
        width: 50%;
        font-size: 12px;
    }

    .second-item-div h2 {
        font-size: 16px;
    }

    .second-item-div img {
        width: 20%;
    }
}