.second-div {
    display: flex;
    flex-direction: column;
    background-color: #E1AFD1;
    width: 100%;
    overflow: visible;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 105px;
    color: #850F8D;

}

.second-div p {
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.bottom-second-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.second-item-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
}

.second-item-div p {
    max-width: 250px;
    width: 100%;
    font-size: small;
    text-align: center;
}

.second-item-div img {
    max-width: 60px;
    width: 100%;
}