.sixth-item-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 40px;
    max-width: 400px;
    width: 100%;
}

.sixth-item-div img {
    max-width: 100px;
    width: 100%;
    border-radius: 50%;
    border: 2px solid #f8e5f2;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
}

.sixth-div {
    background-color: #E1AFD1;
    color: #9f14a9;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-sixth-div {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 40px;
}

.client-sixth-div h3 {
    color: #f8e5f2;
}

@media only screen and (max-width:850px) {
    .sixth-div {
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .sixth-div h1 {
        font-size: 28px;
    }

    .sixth-item-div {
        padding: 20px;
    }

    .sixth-item-div p {
        font-size: 14px;
    }

    .sixth-item-div h3 {
        font-size: 16px;
    }

    .client-sixth-div {
        padding: 0px;
    }
}