.footer-style {
    background-color: #E3E1D9;
    max-width: 1050px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.footer-style img {
    max-width: 100px;
    width: 100%;
    filter: grayscale(1);
}

.footer-style img:hover {
    filter: grayscale(0);
}

@media only screen and (max-width:1024px) {
    .footer-style {
        width: 80%;
    }
}

@media only screen and (max-width:860px) {
    .footer-style img {
        width: 15%;
    }
}

@media only screen and (max-width:750px) {
    .footer-style {
        height: 60px;
    }
}

@media only screen and (max-width:550px) {
    .footer-style {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        height: 100px;
        justify-items: center;
        align-items: center;
    }

    .footer-style img {
        width: 50%;
    }
}